[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = "==2.5.1"
apache-airflow-providers-databricks =  "==4.0.0"
databricks-cli = "==0.16.2"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.7"

[scripts]
webserver = "airflow webserver -p 8000"
scheduler = "airflow scheduler"
up = "sh scripts/build-docker.sh"
down = "docker compose -f ../deployment/docker-compose.yaml down"
env = "cp .env.example .env"